name: Build
on:
  push:
    branches:
    - main
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 1'

jobs:
  build:
    name: 'Build and push containers'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
        - '^(8\.2)(\.\d+)?-apache$'
        - '^(8\.3)(\.\d+)?-fpm$'
    steps:
      - name: Setup multi-architecture support
        uses: docker/setup-qemu-action@v3
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Yarn install
        run: yarn
      - name: Docker login
        run: 'docker login ${{vars.DOCKER_REGISTRY}} -u ${{ vars.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}'
      - name: Yarn start
        run: 'yarn start "${{ matrix.php }}" "linux/amd64,linux/arm64"'
        env:
          INPUT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_REGISTRY: ${{ vars.DOCKER_REGISTRY }}
